*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #191919;
}

.head{
    background-color: rgb(101, 98, 104);
    border-radius: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.header{
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.txt{
    font-size: x-large;
    background-color:#acacac ;
    border-radius: 10px;
}

#logo{
    height: 100px;
    width: 150px;
}

#pokeball{
    height: 100px;
    width: 100px;
}

.team{
    background-color: rgb(101, 98, 104);
    width: 40%;
    height: 700px;
    margin-left: 10%;
    border-radius: 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.poke{
    background-color: rgb(216, 158, 158);
    width: 40%;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    align-content: space-evenly;
    align-content: center;
}

.pokemon{
    grid-column: 1;
    
}

.movs{
    grid-column: 2;
}

.debilidades{
    background-color: rgb(172, 107, 238);
    width: 40%;
    height: 800px;
    margin-left: 60%;
    border-radius: 50px;
    margin-top: 50px;

}