*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #191919;
}


.head{
    background-color: rgb(101, 98, 104);
    border-radius: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.header{
    align-items: center;
    justify-content: center;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.txt{
    font-size: x-large;
    background-color:#acacac ;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

#logo{
    height: 100px;
    width: 150px;
}

#pokeball{
    height: 100px;
    width: 100px;
}

.equipos{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-top: 2%;
}

.planificador{
    
    width: 40%;
    height: 400px;
    margin-right: 10%;
    display: flex;
    margin-bottom: 2%;
    
}

.team{
    background-color: rgb(101, 98, 104);
    
    height: 400px;
    margin-right: 2%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.poke{
    background-color: rgb(216, 158, 158);
    width: 40%;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    
    border: 5px solid black;
    
}

.pokediv{
    display: flex;
    justify-content: center;
}

.movsdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.equipos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.equipo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipo {
    background-color: #888;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 200px; /* Ajusta el ancho según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.equipo p {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
}