<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>listar</display-name>
    <servlet-name>listar</servlet-name>
    <servlet-class>controlador.listar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listar</servlet-name>
    <url-pattern>/listar</url-pattern>
  </servlet-mapping>
  <display-name>Proyecto Poke Planner</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>pojboi</display-name>
    <servlet-name>pojboi</servlet-name>
    <servlet-class>controlador.pojboi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pojboi</servlet-name>
    <url-pattern>/pojboi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestiónNoticia</display-name>
    <servlet-name>GestiónNoticia</servlet-name>
    <servlet-class>controlador.GestiónNoticia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestiónNoticia</servlet-name>
    <url-pattern>/GestiónNoticia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarNoticias</display-name>
    <servlet-name>EditarNoticias</servlet-name>
    <servlet-class>controlador.EditarNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarNoticias</servlet-name>
    <url-pattern>/EditarNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarNoticias</display-name>
    <servlet-name>BorrarNoticias</servlet-name>
    <servlet-class>controlador.BorrarNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarNoticias</servlet-name>
    <url-pattern>/BorrarNoticias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionMovimientos</display-name>
    <servlet-name>GestionMovimientos</servlet-name>
    <servlet-class>controlador.GestionMovimientos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionMovimientos</servlet-name>
    <url-pattern>/GestionMovimientos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuarios</display-name>
    <servlet-name>GestionUsuarios</servlet-name>
    <servlet-class>controlador.GestionUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuarios</servlet-name>
    <url-pattern>/GestionUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>obtenerPermisos_id</display-name>
    <servlet-name>obtenerPermisos_id</servlet-name>
    <servlet-class>controlador.obtenerPermisos_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>obtenerPermisos_id</servlet-name>
    <url-pattern>/obtenerPermisos_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cerrarSesion</display-name>
    <servlet-name>cerrarSesion</servlet-name>
    <servlet-class>controlador.cerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrarSesion</servlet-name>
    <url-pattern>/cerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionEquipos</display-name>
    <servlet-name>GestionEquipos</servlet-name>
    <servlet-class>controlador.GestionEquipos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionEquipos</servlet-name>
    <url-pattern>/GestionEquipos</url-pattern>
  </servlet-mapping>
</web-app>